@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&family=Roboto:wght@300;400;500;700;900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{ font-family: 'Roboto', sans-serif;
	

}
.container{	
	width: 1100px;
	margin: auto;
	}

.row{
    display: flex;
    flex-wrap: wrap;
   
}
.row-2{
	display: flex;
    flex-wrap: wrap;

}


img{
	max-width: 100%;
}
.col-3{
    max-width: 33.33%;
    flex-basis: 33.33%;
    padding: 15px;
    
}


.col-5{
	max-width: 25%;
    flex-basis: 25%;
    padding: 15px;
    

}

/*-----header-css---*/
header{

border-bottom: 2px solid #0C66FF1a;

position: sticky;

width: 100%;

background: white;

z-index: 10;

top: 0;
}
header .row{
	 align-items: center;
}
.logo{
	flex-basis: 15%;
	max-width: 20%;
}
.logo a{}
.logo a img{
	width: 70%;
}
nav{
	flex-basis: 80%;
    max-width: 80%;
}
nav ul{
	justify-content: flex-end;
    display: flex;
    list-style: none;
}
nav ul li {}
nav ul li a {
	padding: 20px 15px;
	display: block;
	color: black;
	text-decoration: none;
	text-transform: capitalize;
	font-weight: 400;
	font-size: 20px;
	position: relative;
	transition: all 0.3s ease;
}
nav ul li a:hover{
    color: white;
    transition: all ease .4s;
}


nav ul li a::after {
	content: "";
	background: #0C66FF;
	display: block;
	width: 3px;
	height: 38%;
	transition: all 0.3s ease;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	z-index: -1;
	border-radius: 2%;
}
nav ul li:hover a::after {
	width: 100%;
}






/*-----banner-section-css---*/
.banner-section{
    padding: 50px 0;
}
.content{
    text-align: center;
}
.content h1{
    font-size: 50px;
    color: black;
}
.content h1 span{
    display: block;
    color: #0C66FF;
    position: relative;
}
.content h1 span b {

display: block;

width: 180px;

height: 40px;

background: #f55878;

position: absolute;

top: 52%;

right: 41%;

transform: translate(41%, -52%);

z-index: -1;
}
.content img{
    max-width: 514px;
}
.content-image{

}
.content p{
    max-width: 800px;
    margin:  20px auto;
    color: #000000bf;
    font-size: 18px;
    font-weight: 300;
}
/*feature-section-css*/

.feature-section{}
.feature-section .row{
	justify-content: center;

}


.feature-content{}

.feature-content h2{
	font-size: 50px;
    color: #3b506c;
    line-height: 1;
    font-weight: 800;
}
.feature-content h2 span{
    color: #0C66FF;
}
.feature-content p{
	margin: 4px auto;
	color: #3b506cad;
	font-size: 16px;
	font-weight: 400;
}
.span-right{
	text-align: left;
}

/*block-section-css*/
.block-section
{
	margin:  20px auto;
	color: #3b506cad;
	font-size: 15px;
	font-weight: 300;
	}
.post{
	padding: 60px 5px;
	box-shadow: 0 0 5px 0px black;
}
.post:hover{
	transform: translateY(-6px);
    transition: all ease .4s;
    
}


.post h3{
	font-size: 16px;
	color: black;
	line-height: 2;
	font-weight: 600;
}
.post img{
	height: 220px;
	display: block;
	margin: auto;
	margin-bottom: 20px;
	padding: 0px 1px;
	width: 100%;
}

.block{
	box-shadow: 0 0 3px 0px #3b506c82;
	background: #9e9e9e14;
	align-items: center;
}

.block img{
	
/* width: 24%; */
	
/* padding: 20px 140px; */
	
height: 200px;
	
display: block;
	
margin: auto;
	
margin-bottom: 50px;
	
padding: 47px 0px;
	
width: 25%;
}
.block h3{
	
color: black;
	
line-height: 1;
	
font-size: 25px;
	
text-align: center;
}
.block p{
	
color: #0C66FFad;
	
font-size: 15px;
	
text-align: center;
	
padding: 30px 6px;
}
.ill-5{
	
}
.ill-6{
	
}
.ill-7{
	
}
.ill-9{

}
.feature-content h3{
	padding: 10px 10px;
	font-size: 25px;
	text-align: center;
}
.feature-content  h3 span{
    font-weight: 300;
    text-decoration: line-through;
    font-size: 25px;
   }
   button{
	padding: 13px 35px;
	font-size: 15px;
	color: black;
	border: 2px solid #ff000000;
	border-radius: 30px;
	cursor: pointer;
	text-align: center;
	display: block;
	margin: auto;
}
.block-h1 h1{

text-align: center;

color: black;

font-size: 30px;

padding: 10px 10px;
}
.block-h1 p{
	
text-align: center;
	
font-size: 18px;
	
color: #0C66FFba;
}
button:hover {
	background-color: #0C66FF;}
	.wrapper{
	width: 100%;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	letter-spacing: 2px;
}







/****footer-section-css*/
footer{
    background: #0C66FF;
    text-align: center;
    padding: 25px 0;
    }
footer p {
	color: #ffffff94;

}
footer p strong {
	color: white;
    letter-spacing: 2px;
}

/*****Sociallist*****/
.sociallist{
    display: flex;
    list-style: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}
.sociallist li{}
.sociallist li a {
    
background: #0C66FF;
    
color: white;
    
/* padding: 10px; */
    
margin-bottom: 6px;
    
width: 40px;
    
height: 40px;
    
/* text-align: center; */
    
/* line-height: 40px; */
    
border-radius: 50%;
    
align-items: center;
    
justify-content: center;
    
display: flex;
    
text-decoration: none;
    
border: 1px solid #0C66FF;
    
transition: all 0.3s ease;
}
.sociallist li a:hover{
	 background: transparent;
	 color: #000000e6;
}
@media(max-width: 1200px) {
	.container{ 
		width: 900px;
}
	.feature-content h2 {
    font-size: 45px;
    }
.feature-content p {
    
    font-size: 14px;
    }
.feature-content h3 {
    
    font-size: 20px;
    }
.feature-content h3 span {
    
    font-size: 20px; }
    .content h1 {
    font-size: 45px;
   }
   .content p {
    font-size: 15px;
    }
    .block-h1 h1 {
    font-size: 25px;
   }
   .block-h1 p {
    font-size: 18px;
   }
   .block h3 {
    font-size: 18px;
}
.block p {
    font-size: 11px;
}
footer {
    
    padding: 20px 0;
}
    
    
}
@media(max-width: 992px){
	.container{ 
		width: 700px;
	}
	nav ul li a {
  font-size: 16px;
}
.feature-content h2 {
    font-size: 35px;
}
.feature-content p {
    font-size: 12px;
}
button {
   
    font-size: 12px;
}
	.feature-content h3 {
    font-size: 18px;
}
.feature-content h3 span {
    font-size: 18px;
}
.content h1 {
    font-size: 38px;
}
.content p {
    font-size: 14px;
}
.post h3 {
    font-size: 12px;
   }
   .post img {
   
    
    margin-bottom: 10px;
    
}
.block-h1 h1 {
    font-size: 20px;
}
.block-h1 p {
    font-size: 14px;
}
.block h3 {
    font-size: 15px;
}
.block p {
        font-size: 14px;
        padding: 40px 10px;
}
.block img {
    width: 20%;
    /* padding: 20px 87px; */
}



nav ul li a::after {
    
    width: 3px;
    }
    .sociallist li a {
   
    width: 30px;
    height: 30px;
   
}

}
@media(max-width: 768px){
	.container{
		width: 100%;
	}
	.sociallist li a {
   
    width: 30px;
    height: 30px;

}
@media(max-width: 576px){
.logo {
	flex-basis: 50%;
    max-width: 100%;
    text-align: center;
    padding: 1px 0;
}
.nav{ flex-basis: 100%;
     max-width: 100%;

}

nav ul li a {
    font-size: 16px;
}
.sociallist li a {
    width: 24px;
    height: 24px;
}
nav ul {
    justify-content: center;
    display: flex;
    list-style: none;
    text-align: center;
}
nav ul li a {
    font-size: 11px;
}
.content h1 {
    font-size: 25px;
}
.content p {
    font-size: 12px;
}
.post h3 {
    font-size: 14px;
}
.block-h1 p {
    font-size: 11px;
}
nav ul li a::after {
	content: none;}
	nav ul li a:hover {
    color: #0C66FF;
    transition: all ease .4s;
}
.col-5 {
    max-width: 100%;
    flex-basis: 100%;
    padding: 15px;
}
.post img {
    height: 230px;
    
    margin-bottom: 20px;
    
    width: 60%;
}
.post h3 {
    font-size: 20px;
}
.block-h1 h1 {
    font-size: 25px;
}
.block-h1 p {
    font-size: 15px;
    text-align: center;
}
.col-3 {
    max-width: 100%;
    flex-basis: 100%;
    padding: 15px;
}
.block h3 {
    font-size: 25px;
}
.block p {
    font-size: 20px;
    padding: 40px 10px;
}
.sociallist {
    
    flex-direction: row;
    position: static;
   justify-content: center;
}

.feature-content h2 {
    font-size: 30px;
    text-align: center;
}
.feature-content p {
    font-size: 12px;
    text-align: center;
}
.sociallist li {
    flex: 1 0 35px;
    max-width: 45px;
    
}
nav {
    flex-basis: 100%;
    max-width: 100%;
}
nav ul li a {
    font-size: 15px;
}
}

